<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="EliteDB" connectionString="server=Larry1\SQLExpress; initial catalog=FITImpact; integrated security=True; " providerName="System.Data.SqlClient" />
    <!--<add name="EliteDB" connectionString="server=TYTHON\SQLEXPRESS01; initial catalog=FITImpact; integrated security=True; " providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>